#create_character_div {
  display: grid;
  grid-template-columns: 50% auto;
}

#create_character_skill_info_div {
  overflow-y: scroll;
  max-height: 77vh;
  text-align: left;
}

#create_character_form_div {
  display: grid;
  grid-template-rows: 80% auto;
}

#create_character_form_div label {
  display: inline-block;
  float: left;
  clear: left;
  text-align: right;
  width: 30%;
}

#create_character_form_div input {
  display: inline-block;
  float: left;
  width: 50%;
  margin-left: 3px;
}

#create_character_form_div textarea {
  display: inline-block;
  float: left;
  width: 50%;
  font-family: inherit;
  margin-left: 3px;
}

#create_character_form_div select {
  display: inline-block;
  float: left;
  margin-left: 3px;
}

#create_character_create_button {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#create_character_form_div p {
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
}
